myenv/
textos_camara.zip
run.sh*
.RData
.Rhistory
sessoes/
camara/
codigos-camara/
camara-err/
codigos-senado/
senado/
senado(r)/
codigos-senado(r)/
Camara/
Senado/
parliamentary_ner_model/
ner_results/
ner_results2/
ner_results3/
people_list.csv
testes/