requests
pandas
networkx
matplotlib
bs4
igraph
numpy
scipy
seaborn
plotly
pyvis
beautifulsoup4
lxml
html5lib
torch
transformers
fuzzywuzzy
unidecode
python-levenshtein
pycairo
jupyter
ipython
argparse
pathlib
glob2
regex
unicodedata
collections
datetime
colorsys
math